
#cellRenamableTextField {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

#equationInfoGridPane.list-cell{
    -fx-padding:2px;
}

.jfx-list-view{
    -fx-selection-bar: #c7e8f3;
}
.jfx-list-view:focused > .virtual-flow > .clipped-container > .sheet > .jfx-list-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.jfx-slider {
    -jfx-default-thumb: #0096C9;
    -jfx-default-track: #cceaf4;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 15;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 9;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}




.jfx-list-cell:filled:selected {
    -fx-background: -fx-selection-bar;
}

/*******************************************************************************
*                                                                              *
* JFXTextField & JFXComboBox                                                   *
*                                                                              *
*******************************************************************************/

.jfx-text-field {
    -jfx-focus-color: #0096C9;
}

.jfx-combo-box {
    -jfx-focus-color: #0096C9;
}

.jfx-check-box {
    -jfx-checked-color: #0096C9;
}

/*******************************************************************************
*                                                                              *
* JFXButton                                                                    *
*                                                                              *
*******************************************************************************/

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: #cceaf4;
}

.jfx-button:selected {
    -fx-background-color:#cceaf4;
}

/*******************************************************************************
*                                                                              *
* JFXColorPicker                                                                   *
*                                                                              *
*******************************************************************************/

.jfx-color-picker {
    -fx-color-label-visible: false;
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
}

/*******************************************************************************
*                                                                              *
* JFXTabPane                                                                   *
*                                                                              *
*******************************************************************************/

.jfx-tab-pane .headers-region {
    -fx-background-color: #FFFFFF;
    -fx-fill: #000000;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FFFFFF;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: BLUE;
    -fx-stroke-width: 3pt;
    -fx-background-color: #0096C9;
}

.jfx-tab-pane:disabled .tab-selected-line {
    -fx-stroke: GREY;
    -fx-stroke-width: 3pt;
    -fx-background-color: #D3D3D3;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #0096C9;
}

.jfx-tab-pane .headers-region Label {
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

/*******************************************************************************
*                                                                              *
* TableView                                                                    *
*                                                                              *
*******************************************************************************/

 /*TODO: Get the scroll bars right.*/

.table-view {
    -fx-table-color: #c7e8f3;
    -fx-table-rippler-color: #0096C9;
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 3 0 3 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5 0 5 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}


.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;

}

.table-view .menu-item .label {
    -fx-padding: 0 0 0 0;
}

/*******************************************************************************
*                                                                              *
* JFXTreetable                                                                 *
*                                                                              *
*******************************************************************************/

.tree-table-view {
    -fx-tree-table-color: rgba(255, 0, 0, 0.2);
    -fx-tree-table-rippler-color: rgba(255, 0, 0, 0.4);
}

.tree-table-row-cell{
    -fx-indent: 0;
}


.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: #a3d9eb;
    -fx-table-cell-border-color: -fx-tree-table-color;
    -fx-text-fill: BLACK;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: BLACK;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell .metadata-tree-table-cell {
    -fx-text-fill: BLACK;
}


.tree-table-view .jfx-rippler {
    -jfx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 5 0 5 0;
    -fx-font-style: normal;
    -fx-font-weight: normal;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 5 7 5 7;
}

.tree-table-view .column-overlay {
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header {
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-cell > .tree-disclosure-node, .tree-table-row-cell > .tree-disclosure-node {
    -fx-padding: 4 0 4 5;
    -fx-background-color: transparent;
}

.tree-table-row-cell .jfx-text-field {
    -fx-focus-color: #0096C9;
}

.tree-table-row-group {
    -fx-background-color: rgba(230, 230, 230);
}

.animated-option-button {
    -fx-pref-width: 50px;
    -fx-background-color: #44B449;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}

.animated-option-sub-button {
    -fx-background-color: #43609C;
}

.animated-option-sub-button2 {
    -fx-background-color: rgb(203, 104, 96);
}

.tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}